[Unit]
Description=Manasoup bump reminder
After=network-online.target

[Service]
WorkingDirectory=WORKINGDIRECTORY
ExecStart=WORKINGDIRECTORY/venv/bin/python3 bot.py

[Install]
WantedBy=multi-user.target
